* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b1c7c9;
    margin: 0;
    padding: 0;
    height:100vh;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;

}

.center-container {
    flex: 1; /* Takes up all available vertical space after navbar */
    display: flex;        
    justify-content: center;  
    align-items: center;      

}


.login-container {
    margin-top: 10%;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;  
    width: 50%;
    height: 50%;
}

.login-form {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block; 
}

.register-form {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block; 
}

.btn-group {
    margin-top: 20px;
}

.login-btn, .register-btn, input[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.login-btn, input[type="submit"]  {
    background-color: #006d77;
    color: white;
}

.login-btn:hover, input[type="submit"]:hover  {
    background-color: #ffddd2;
    color: black;
}

.register-btn {
    background-color: #006d77;
    color: white;
}

.register-btn:hover {
    background-color: #ffddd2;
    color: black;
}

.container {
    display: flex;
    margin-top: 50px;
    height: calc(100vh - 100px);  /* Adjusts for the navbar and margin */
    overflow-y: auto;             /* Enables vertical scrolling */
}
.filter-section {
    flex: 1;
    padding: 20px;
    padding-left: 20px;
    border-right: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-right: 20px;  
    height: 300px;               
    overflow-y: auto;            
    position: -webkit-sticky;    
    position: sticky;            
    top: 60px;  
    left: 80px;
    margin-left: 10px;                
}
.posts-section {
    flex: 3;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 90%;  
    margin-left: auto;  
    margin-right: auto; 
}

/* Styling for the nav bar */

.navbar {
    display: flex;
    justify-content: space-between; /* This will spread out the elements */
    align-items: center;
    height: 60px; /* Increased height for better aesthetics with dropdown */
    background-color: #006d77;
    color: white;
    position: relative; /* To position the h1 in the center */
}

.navbar h1 {
    margin: 0;
    position: absolute; /* Absolutely position the title */
    left: 50%;  /* Centering mechanism */
    top: 50%;   /* Centering mechanism */
    transform: translate(-50%, -50%);  /* Centering mechanism */
}

.navbar h1 a {
    text-decoration: none; 
    color: white;          
    cursor: pointer;      
}
.navbar h1 a:visited {
    color: white;        
}
/* Styling for the pop out modal window */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed Position on the page */
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1; /* Sit on top */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius:10px;
}

/* The Close Button */
.close, .close-create {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: black;
}
.create-post-button {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #ffddd2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #006D77;
    color: white;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}


/* Styling for the scroll bar on the side of page */

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px;   /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Color of the track (background) of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #888;   /* Color of the actual scroll 'thumb' */
    border-radius: 5px;  /* Makes the scroll thumb rounded */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;   /* Color of the scroll 'thumb' when hovered */
}

/* For Firefox */
* {
    scrollbar-width: thin;   /* Can be "none", "thin", or "auto" */
    scrollbar-color: #888 #f1f1f1;   /* First color is thumb, second is track */
}

.topnav {
    overflow: hidden;
    background-color: lightcyan;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    background-color: black;
    color: pink;
  }
  
  .topnav a.active {
    background-color: bisque;
    color: black
  }
  p {
    margin-left:2%;
  } 

 /* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #006d77;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:focus,
.dropbtn:hover {
    background-color: #005f66; /* A bit darker shade for hover effect */
}



.logout-btn {
    padding: 8px 16px;
    background-color: #ffddd2; /* A reddish color for logout */
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition */
    margin-right: 20px;
}


/* Style for the fieldsets */
#login-form fieldset {
    border: none; /* light gray border */
    border-radius: 5px; /* rounded corners */
    padding: 10px 20px; /* top-bottom, left-right padding */
    margin-bottom: 10px; /* spacing between fieldsets */
}

/* Style for the labels */
#login-form label {
    display: block; /* make them display on a new line */
    margin-bottom: 8px; /* add some spacing between label and input field */
}

/* Style for the input fields */
#login-form input[type="text"], #login-form input[type="password"] {
    width: 100%; /* make them take the full width of their container */
    padding: 8px; /* add some internal padding */
    border: 1px solid #ccc; /* light gray border */
    border-radius: 4px; /* slightly rounded corners */
    box-sizing: border-box; /* border is included in total width/height */
}

#register-form fieldset {
    border: none; /* light gray border */
    border-radius: 5px; /* rounded corners */
    padding: 10px 20px; /* top-bottom, left-right padding */
    margin-bottom: 10px; /* spacing between fieldsets */
}

/* Style for the labels */
#register-form label {
    display: block; /* make them display on a new line */
    margin-bottom: 8px; /* add some spacing between label and input field */
}

/* Style for the input fields */
#register-form input[type="text"], #register-form input[type="password"] {
    width: 100%; /* make them take the full width of their container */
    padding: 8px; /* add some internal padding */
    border: 1px solid #ccc; /* light gray border */
    border-radius: 4px; /* slightly rounded corners */
    box-sizing: border-box; /* border is included in total width/height */
}
